@using SharedProj.DBModels
@inject DialogService DialogService
@* <RadzenPanel>
    <RadzenStack>

        <RadzenLabel Text="@GuideModel.Title" />
        <RadzenHtml>
            @((MarkupString)GuideModel.Content)
        </RadzenHtml>
        @foreach (var img in GuideModel.Pictures)
        {
            var bla = ToBase64DataUri(img);
            <RadzenImage Path="@bla" Style="width:500px; cursor: pointer;" @onclick="() => ShowImage(bla)" />
        }

        <RadzenText>Designed By:@GuideModel.Author</RadzenText>
        <RadzenText>Created: @GuideModel.CreatedAt</RadzenText>
    </RadzenStack>
</RadzenPanel> *@

<div class="rz-p-0 rz-p-md-12">
    <RadzenCard Variant="Variant.Filled" class="rz-my-12 rz-mx-auto" Style="max-width: 600px">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-4">
            @foreach (var img in GuideModel.Pictures)
            {
                var bla = ToBase64DataUri(img);
                <RadzenImage Path="@bla" Style="width:500px; cursor: pointer;" @onclick="() => ShowImage(bla)" />
            }
            <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Created At</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@GuideModel.CreatedAt</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Author</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@GuideModel.Author</b></RadzenText>
            </RadzenStack>
        </RadzenStack>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Content</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@GuideModel.Content</b></RadzenText>
    </RadzenCard>
</div>

@code
{
    [Parameter]
    public GuideModel? GuideModel { get; set; }

    public string ToBase64DataUri(ImageModel img)
    {
        return $"data:{img.ContentType};base64,{Convert.ToBase64String(img.Content)}";
    }

    private void ShowImage(string imageData)
    {
        DialogService.Open("Image Viewer", ds =>
        {
            return new RenderFragment(builder =>
            {
                builder.OpenElement(0, "img");
                builder.AddAttribute(1, "src", imageData);
                builder.AddAttribute(2, "style", "max-width: 100%; max-height: 100%;");
                builder.CloseElement();
            });
        });
    }
}
