@page "/Inspector"
@using SharedProj.DBModels
@using Radzen

<h3>GuideInspector</h3>

<h2>This is where Guide Administrator approve Guides/Templates</h2>
<div>
<RadzenText>Templates</RadzenText>
    <RadzenDataGrid TItem="GuideModel" Data="@TemplatesToInspect" SelectionMode="DataGridSelectionMode.Single" AllowPaging="true" PageSize="5" RowClick="OnTemplateGuideClicked">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(GuideModel.Author)" Title="Author"/>
            <RadzenDataGridColumn Property="@nameof(GuideModel.CreatedAt)" Title="Created"/>
    </Columns>
</RadzenDataGrid>
</div>

<div>
<RadzenText>Countries</RadzenText>
<RadzenDataGrid TItem="GuideModel" Data="@CountryGuidesToInspect" AllowPaging="true" PageSize="5" RowClick="OnCountryGuideClicked">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(GuideModel.Title)" Title="Title"/> 
        <RadzenDataGridColumn Property="@nameof(GuideModel.Author)" Title="Author"/>
        <RadzenDataGridColumn Property="@nameof(GuideModel.CreatedAt)" Title="Created"/>
    </Columns>
</RadzenDataGrid>
</div>

@code
{
    List<GuideModel> CountryGuidesToInspect = new();
    List<GuideModel> TemplatesToInspect = new();

    GuideModel dummyGuide = new GuideModel
        {
            Id = 1,
            Content = "Det här är ett exempel på innehåll för en guide.",
            Author = "Test Författare",
            Title = "Template Testing",
            // Pictures = "dummy-image-url.jpg",
            CreatedAt = DateTime.Now
        };

    GuideModel dummyCountryGuide = new GuideModel
        {
            Id = 1,
            Content = "bla bla",
            Author = "Sven",
            CreatedAt = DateTime.Now,
            Title = "Peak Germany"
        };

    protected override void OnInitialized()
    {
        TemplatesToInspect.Add(dummyGuide);
        CountryGuidesToInspect.Add(dummyCountryGuide);
    }
    private void OnTemplateGuideClicked(DataGridRowMouseEventArgs<GuideModel> ClickedGuide)
    {
        // Hantera klicket, t.ex. navigera till trådar i den här kategorin
        Console.WriteLine($"Clicked on Template Guide: {ClickedGuide.Data.Author}");
        // NavigationManager.NavigateTo($"/forum/category/{category.ID}");
    }
    private void OnCountryGuideClicked(DataGridRowMouseEventArgs<GuideModel> ClickedGuide)
    {
        // Hantera klicket, t.ex. navigera till trådar i den här kategorin
        Console.WriteLine($"Clicked on Country Guide: {ClickedGuide.Data.Author}");
        // NavigationManager.NavigateTo($"/forum/category/{category.ID}");
    }
}