@using SharedProj
@using SharedProj.DBModels
@using Hoi4Strats.Client
@inject HttpClient client
@inject NotificationService NotificationService

@if (GM.GuideType == GuideTypes.Country)
{
    <RadzenPanel>
        <HeaderTemplate>
            <h3>@GM.Title</h3>
        </HeaderTemplate>
        <ChildContent>
            <RadzenHtml>
                @((MarkupString)GM.Content)
            </RadzenHtml>
        </ChildContent>
    </RadzenPanel>
}
else
{
    <TemplateDisplay GuideModel="@GM" />
}

<RadzenStack>
    <RadzenLabel Text="Select Outcome" />
    <RadzenDropDown TValue="string"
                    Value="@SelectedEnum.ToString()"
                    Data="@Enum.GetNames(typeof(Review))"
                    Change="@(args => SelectedEnum = Enum.Parse<Review>(args.ToString()))"
                    Style="width: 100%; max-width: 200px;"
                    Name="GuideTypeDropdown" />
    <RadzenButton Click="RegisterDecision" Style="max-width:72px;">Send</RadzenButton>
</RadzenStack>

@code
{
    [Parameter]
    public required GuideModel? GM { get; set; }

    [Parameter]
    public Action? ResetSelection { get; set; }

    private Review SelectedEnum;

    private List<Review> reviewlist = new();

    private List<string> DropDownList;

    protected override Task OnInitializedAsync()
    {
        DropDownList = new();
        if (GM != null)
        {
            SelectedEnum = GM.Status;
        }
        foreach (Review rv in (Review[])Enum.GetValues(typeof(Review)))
        {
            DropDownList.Add(rv.ToString());
        }

        return base.OnInitializedAsync();
    }
    public string ToBase64DataUri(ImageModel img)
    {
        return $"data:{img.ContentType};base64,{Convert.ToBase64String(img.Content)}";
    }
    // TODO: Fix so that it goes back to the inspection list again
    private async Task RegisterDecision()
    {
        GM.Status = SelectedEnum;
        var response = await client.PostAsJsonAsync("/Review-Decision", GM);
        var responseContent = await response.Content.ReadAsStringAsync();

        if (response.IsSuccessStatusCode)
        {
            // Kontrollera resultatet och visa notifiering
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Decision submitted",
                    Detail = "Your Decision have been submitted Successfully.",
                    Duration = 4000
                });
        }
        else
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Update Failed",
                    Detail = $"Failed to create your guide submission",
                    Duration = 4000
                });

            StateHasChanged();
        }

        Console.WriteLine($"Response Content: {responseContent}");
        ResetSelection?.Invoke();
        StateHasChanged();
    }
}